<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/brand.css">
</head>

<body>
    <header>
        <div class="header">
            <img onclick="window.location.href='/'" class="logo" src="../assets/logo.jpg" alt="">
            <form id="form">
                <input id="search" class="search" type="text" placeholder="Bạn tìm gì...">
            </form>
            <img onclick="serachLaptop()" class="icon-search" src="../assets/search.svg" alt="">

        </div>
    </header>
    <div>
     
        <div class="row-brand">
            <div id="acer" onclick="window.location.href='/brand?brand=acer'" class="brand">
                <img class="brand-img" src="../assets/acer.png" alt="">
            </div>
            <div id="macbook" onclick="window.location.href='/brand?brand=macbook'" class="brand">
                <img class="roundimg" src="../assets/apple.png" alt="">
                <p>Macbook</p>
            </div>
            <div id="asus" onclick="window.location.href='/brand?brand=asus'" class="brand">
                <img class="brand-img" src="../assets/asus.png" alt="">
            </div>
            <div id="dell" onclick="window.location.href='/brand?brand=dell'" class="brand">
                <img class="brand-img" src="../assets/dell.png" alt="">
            </div>
            <div id="hp" onclick="window.location.href='/brand?brand=hp'" class="brand">
                <img class="roundimg" src="../assets/hp.png" alt="">
            </div>
            <div id="msi" onclick="window.location.href='/brand?brand=msi'" class="brand">
                <img class="brand-img" src="../assets/msi.png" alt="">
            </div>
            <div id="lenovo" onclick="window.location.href='/brand?brand=lenovo'" class="brand">
                <img class="brand-img" src="../assets/lenovo.png" alt="">
            </div>
        </div>
        

        <div id="listLaptop" class="listlaptop">

        </div>

    </div>
    <footer>
        <div class="footer">
            <ul>
                <li><a href="">Tích điểm Quà tặng VIP</a></li>
                <li><a href="/historyoder">Lịch sử đơn hàng</a></li>
                <li><a href="">Tìm hiểu về mua trả góp</a></li>
                <li><a href="">Chính sách bảo hành</a></li>
            </ul>
            <ul>
                <li><a href="">Giới thiệu công ty</a></li>
                <li><a href="">Tuyển dụng</a></li>
                <li><a href="">Gửi góp ý, khiếu nại</a></li>
                <li><a href="">Tìm hiểu siêu thị</a></li>
                <li><a href="">Xem bản mobile</a></li>
            </ul>
            <ul>
                <li>Tổng đài hổ trợ</li>
                <li>Khiếu nại <a class="footer_phone" href="">1800.1062</a>(8:00 - 21:30)</li>
                <li>Bảo hành <a class="footer_phone" href="">1900 232 464</a>(8:00 - 21:00)</li>
            </ul>
        </div>
        <div class="end">
            © 2018. Công ty cổ phần Thế Giới Di Động. GPDKKD: 0303217354 do sở KH & ĐT TP.HCM cấp ngày 02/01/2007.
            GPMXH: 238/GP-BTTTT do Bộ Thông Tin và Truyền Thông cấp ngày 04/06/2020.
            Địa chỉ: 128 Trần Quang Khải, P.Tân Định, Q.1, TP.Hồ Chí Minh. Địa chỉ liên hệ và gửi chứng từ: Lô T2-1.2,
            Đường D1, Đ. D1, P.Tân Phú, TP.Thủ Đức, TP.Hồ Chí Minh. Điện thoại: 028 38125960. Email:
            cskh@thegioididong.com. Chịu trách nhiệm nội dung: Huỳnh Văn Tốt. Email: Tot.huynhvan@thegioididong.com. Xem
            chính sách sử dụng
        </div>
    </footer>
    <script src="../js/brand.js"></script>

</body>

</html>