<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/historyoder.css">
</head>
<body>
    
    <h2>Danh sách lịch sử đơn hàng</h2>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>User</th>
          <th>Laptop</th>
          <th>Delivery</th>
          <th>Total Price</th>
          <th>Status</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody id="tbody">
     
      </tbody>
    </table>
    <script src="../js/historyoder.js"></script>
</body>
</html>