<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <div class="header">
            <img class="logo" src="../assets/logo.jpg" alt="">
            <input class="search" type="" placeholder="Bạn tìm gì...">
            <img class="icon-search" src="../assets/search.svg" alt="">
            <div class="cart">
                <img class="cart-img" src="../assets/cart.svg" alt="">
                <div class="cart-title">
                    Giỏ hàng
                </div>
            </div>
        </div>
    </header>
    <div>
        <ul class="navbar">
            <li>
                <p>Trang chủ</p>
            </li>
            <li>
                <p>Tất cả sản phẩm</p>
            </li>
            <li>
                <p>Thương hiệu</p>
            </li>
            <li>
                <p>Cửa hàng</p>
            </li>
            <li>
                <p>Tin tức</p>
            </li>
        </ul>
        <div class="slider">
            <div class="slides">
                <input type="radio" name="radio-btn" id="radio1">
                <input type="radio" name="radio-btn" id="radio2">
                <input type="radio" name="radio-btn" id="radio3">
                <input type="radio" name="radio-btn" id="radio4">

                <div class="slide first">
                    <img src="../assets/banner1.jpg" alt="">
                </div>
                <div class="slide"><img src="../assets/banner2.jpg" alt=""></div>
                <div class="slide"><img src="../assets/banner3.jpg" alt=""></div>
                <div class="slide"><img src="../assets/banner4.jpg" alt=""></div>
            </div>

            <div class="navigation-auto">
                <div class="auto-btn1"></div>
                <div class="auto-btn2"></div>
                <div class="auto-btn3"></div>
                <div class="auto-btn4"></div>
            </div>

            <div class="navigation-manual">
                <label for="radio1" class="manual-btn"></label>
                <label for="radio2" class="manual-btn"></label>
                <label for="radio3" class="manual-btn"></label>
                <label for="radio4" class="manual-btn"></label>
            </div>

        </div>

        

        <div class="row-brand">
            <div class="brand">
                <img class="brand-img" src="../assets/acer.png" alt="">
            </div>
            <div class="brand">
                <img class="roundimg" src="../assets/apple.png" alt="">
                <p>Macbook</p>
            </div>
            <div class="brand">
                <img class="brand-img" src="../assets/asus.png" alt="">
            </div>
            <div class="brand">
                <img class="brand-img" src="../assets/dell.png" alt="">
            </div>
            <div class="brand">
                <img class="roundimg" src="../assets/hp.png" alt="">
            </div>
            <div class="brand">
                <img class="brand-img" src="../assets/msi.png" alt="">
            </div>
            <div class="brand">
                <img class="brand-img" src="../assets/lenovo.png" alt="">
            </div>
        </div>
        <div class="new">
            <h1>
                NỔI BẬT NHẤT
            </h1>
        </div>


            <div id="listLaptop" class="listlaptop">

        </div>

    </div>

    <script src="../js/home.js"></script>

</body>

</html>