<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/thanks.css">


</head>

<body>
    <div class="body">

        <div class="thanksbox">

            <img class="icon" src="../assets/check.svg" alt="">
            <p class="title">
                THANKS YOU!
            </p>
            <div class="content">
                <p>Cám ơn quý đã mua hàng</p>
            </div>

            <div class="button" onclick="window.location.href='/'">
                <p>Back Home</p>
            </div>
        </div>


    </div>
    <script src="../js/thanks.js"></script>
</body>

</html>