html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}


.header {
    display: flex;
    height: 100px;
    background-color: black;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 100%;
}

.search {
    margin-left: 10px;
    height: 50px;
    width: 200px;
    border: gold 2px solid;
    border-radius: 5px;
}

.icon-search {
    height: 25px;
    width: auto;
    position: relative;
    left: -35px;
}

.cart {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    width: 100px;
    background-color: gold;
    padding: 3px;
}

.cart-img {

    height: 25px;
    width: auto;
}


.cart-title {}

.navbar {
    display: flex;
    background-color: black;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
}

.navbar li {
    width: 100%;
    /* height: 100px; */
    display: block;
    text-align: center;
    align-self: center;
    color: white;

}

.navbar li:hover {
    background-color: #717171;

}

.slider {
    height: 350px;
    width: 100%;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 350px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {

    width: 100%;
    height: 350px;
}

.radio {
    display: none;
}

.navigation-manual {
    position: absolute;
    width: 500px;
    /* display: flex; */
    display: none;
    justify-content: center;
}

.manual-btn {
    border: 2px solid aqua;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: blue;
}

#radio1:checked~.first {
    margin-left: 0%;
}

#radio2:checked~.first {
    margin-left: -20%;
}


#radio3:checked~.first {
    margin-left: -40%;
}


#radio4:checked~.first {
    margin-left: -60%;
}

.navigation-auto {
    position: absolute;
    display: none;
    width: 100%;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div {
    border: 2px solid aqua;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background-color: blue;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background-color: blue;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background-color: blue;
}

#radio4:checked~.navigation-auto .auto-btn4 {
    background-color: blue;
}



.row-brand {
    display: flex;
    justify-content: center;
    overflow: auto;

}

.row-brand::-webkit-scrollbar {
    display: none;
}


.brand {
    display: flex;
    border: 1px black solid;
    border-radius: 30px;
    height: 60px;
    width: 120px;
    justify-content: center;
    align-items: center;
    margin: 10px 15px;
}

.roundimg {
    height: 40px;
    width: 50px;
}

.brand-img {

    /* height: 50px; */
    width: 70px;
}

.new{
    display: flex;
    justify-content: center;
}
.new h1{
    text-decoration-line: underline;
}



.listlaptop {
    display: flex;
    flex-wrap: wrap;
    background-color: gold;
    margin-top: 10px;
    justify-content: space-between;
    padding: 0 20px 10px 20px;
}

.laptop {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 18%;
    background-color: white;
    padding-left: 10px;

}

.laptop-img {
    width: 100%;
    height: 100px;
}

.laptop-img img {
    width: 100%;
    height: 100px;
}

.laptop-title {
    height: 70px;
    width: 150px;
    overflow: hidden;
}

.laptop-price {
    margin-bottom: 10px;
    font-size: 20px;
    color: red;
}

.buy-laptop {
    border: black 1px solid;
    display: flex;
    justify-content: center;
    padding-bottom: 8px;
    height: 40px;
    width: 80px;
    margin: 10px 0;

}

.buy-laptop:hover {
background-color: rgb(46, 238, 46);
color: white;
}