html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}


.header {
    display: flex;
    height: 100px;
    background-color: black;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 100%;
}

.search {
    margin-left: 10px;
    height: 50px;
    width: 200px;
    border: gold 2px solid;
    border-radius: 5px;
}

.icon-search {
    height: 25px;
    width: auto;
    position: relative;
    left: -35px;
}

.cart {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    width: 100px;
    background-color: gold;
    padding: 3px;
}

.cart-img {

    height: 25px;
    width: auto;
}


.cart-title {}

.navbar {
    display: flex;
    background-color: black;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
}

.navbar li {
    width: 100%;
    /* height: 100px; */
    display: block;
    text-align: center;
    align-self: center;
    color: white;

}

.navbar li:hover {
    background-color: #717171;

}

.body{
    background-color: gray;
    height:100%;
    padding: 40px 0;

}

h1 {
    margin: 20px 0 30px 0;
}

form {
    max-width: 600px;
    background-color: white;
    margin: 0 auto;
    padding: 50px ;
    display: flex;
    flex-direction: column;
}

.title{
    text-align: center;
}

label {
    display: block;
}

form input {
    width: 100%;
    border:none;
    border-bottom: 1px solid black;
    outline: none;
    margin: 30px 0 20px 0;
    
}

.productName{
    display: flex;
}
.productPrice{
    display: flex;
}

button {
    height: 40px;
    width: 100px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: center;
}

button:hover {
    background-color: #45a049;
}