html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #F3F3F3;
}

body {
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    height: 100px;
    background-color: black;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 100%;
    cursor: pointer;
}

.search {
    margin-left: 10px;
    height: 50px;
    width: 200px;
    border: gold 2px solid;
    border-radius: 5px;
}

.icon-search {
    height: 25px;
    width: auto;
    position: relative;
    left: -35px;
    cursor: pointer;
}

.cart {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    width: 100px;
    background-color: gold;
    padding: 3px;
}

.cart-img {

    height: 25px;
    width: auto;
}


.cart-title {}

.navbar {
    display: flex;
    background-color: black;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
}

.navbar li {
    width: 100%;
    /* height: 100px; */
    display: block;
    text-align: center;
    align-self: center;
    color: white;

}

.navbar li:hover {
    background-color: #717171;
    cursor: pointer;
}


.container {
    background-color: white;
    margin: 0 10%;
    padding-bottom: 10px;

}

.numbersearch {
    margin-top: 0;
    padding-top: 20px;
}



.listlaptop {
    display: flex;
    flex-wrap: wrap;
    background-color: gold;
    margin-top: 10px;
    justify-content: space-around;
    padding: 0 20px 10px 20px;
    border-radius: 12px;
}

.laptop {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 18%;
    background-color: white;
    padding-left: 10px;

}

.laptop-img {
    width: 100%;
    height: 100px;
}

.laptop-img img {
    width: 100%;
    height: 100px;
}

.laptop-title {
    height: 70px;
    width: 150px;
    overflow: hidden;
}

.laptop-price {
    margin-bottom: 10px;
    font-size: 20px;
    color: red;
}

.buy-laptop {
    border: black 1px solid;
    display: flex;
    justify-content: center;
    padding-bottom: 8px;
    height: 40px;
    width: 80px;
    margin: 10px 0;
    border-radius: 12px;


}

.buy-laptop:hover {
    background-color: rgb(46, 238, 46);
    color: white;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-evenly;
}

.footer ul {
    /* display: flex;
    flex-direction: column; */
}

.footer ul li {
    display: block;
}

.footer ul li a {
    text-decoration-line: none;
    color: white;
}

.footer ul li :hover {
    color: #889749 !important;

}

.footer_phone {
    color: #889749 !important;
}

.end {
    margin: 0 30px;
}

footer {
    background-color: #1B2631;
    color: white;

}

.not_found {
    width: 100%;
    justify-content: center;
    display: flex;
}